@mixin md {
    @media (min-width: map-get($breakpoints,"md")) {
      @content;
    }
  }
  
  @mixin lg {
    @media (min-width: map-get($breakpoints,"lg")) {
      @content;
    }
  }
  
  //VARIABLES
  $breakpoints: (
    "md": 656px,
    "lg": 1024px,
  );